body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


}
.half-left {
	text-align:center;
	@media(min-width:$screen-lg) {
		text-align:left;
	}
}
.half-right {
	text-align:center;
	@media(min-width:$screen-lg) {
		text-align:right;
	}
}


// 404 page

.inner-container{
	margin: 0 auto;

	.content-center{
		display: flex;
		align-items: center;
		.error-title{
			h1{
				font-size: 60px;
				font-family: $serif;
			}

		}// Error Title
		.content{
			color: #666666;
			padding: 10px 0;

		}// content
	}

	.error-col{
		padding: 100px 0;
		img{
			float: right;
		}

	}// error col
}


