h1, h2, h3, h4 {
	font-family:$serif;
	letter-spacing:.15px;
	font-weight:normal;
	text-transform:uppercase;
}
h1 {
	font-size:22px;
	line-height:30px;
	@media (min-width:$screen-md){
		font-size:28px;
		line-height:36px;
	}
}
h2 {
	font-size:20px;
	line-height:28px;
	@media(min-width:$screen-md) {
		font-size: 24px;
		line-height: 32px;
	}
}
h3 {
	font-size:18px;
	line-height:26px;
	@media(min-width:$screen-md) {
		font-size: 22px;
		line-height: 30px;
	}
}
h4 {
	font-size:14px;
	line-height:22px;
	@media(min-width:$screen-md) {
		font-size: 16px;
		line-height: 24px;
	}
}
p {
	font-size:16px;
	line-height:24px;
	letter-spacing:0;
	font-family:$sans-serif;
	font-weight:100;
	&.cursive {
		font-family:$cursive;
	}
}
a {
	color:$brand-highlight;
	text-decoration:underline;
	text-transform:uppercase;
	&:hover {
		text-decoration:none;
		color:$brand-highlight;
	}
	&.cta {
		font-family:$serif;
		font-size:14px;
	}
}
.section-title {
	position:relative;
	margin:0 auto;
	display:inline-block;
	&::before, &::after {
		content:'';
		display:none;
		position:absolute;
		top:50%;
		width:100px;
		height:1px;
		background:$body-color;
		@media (min-width:$screen-md) {
			display:block;
		}
	}
	&::before {
		left:-120px;
	}
	&::after {
		right:-120px;
	}
}

@font-face {
	font-family: 'justlefthandregular';
	src: url('ufonts.com_justlefthand-webfont.woff2') format('woff2'),
	url('ufonts.com_justlefthand-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}