// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Brand Colours
$body-color:  #636466;
$brand-dark:  #222;
$brand-dark-grey: #444;
$brand-light-grey: #e6e6e6;
$brand-highlight: #bba287;
$white: #fff;

// Fonts 
$serif: 'Lora', serif;
$sans-serif: 'Raleway', sans-serif;
$cursive: 'justlefthandregular', cursive;

// Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px; 