footer {
  font-size:12px;
  font-family:$serif;
  color:darken($brand-light-grey, 20%);
  padding:20px 0;
  border-top:1px solid darken($brand-light-grey, 20%);
  .general-enquiries{
    padding-left: 20px;
    text-transform: none;
    a{
      color:$brand-highlight;
      text-decoration: underline;
      text-transform: capitalize;
      &:hover{
        text-decoration: none;

      }// Hover
    }// Link
  }// general-enquiries

  a {
    color:darken($brand-light-grey, 20%);
    text-decoration:none;
  }

}

