.global-header {
	padding-top:50px;
	.logo-holder {
		.logo {
			font-family:$cursive;
			text-align:center;
			color:$body-color;
			text-decoration:none;
			img {
				width:100%;
				height:auto;
			}
			p {
				margin:20px 0;
				font-size: 20px;
				text-transform: lowercase;
			}
		}
	}
}
