.cat-pod {
  text-align: center;
  margin-bottom: 60px;
  &__image {
    max-height:300px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 20px;
    overflow:hidden;
    &::after {
      content:'';
      display:block;
      padding-top:100%;
    }
  }
  &__cat {
    color:$brand-highlight;
    text-transform:uppercase;
    font-size:12px;
    line-height:14px;
    margin-bottom:10px;
  }
  &__title {
    padding:0;
    h2{
      text-transform: capitalize;
      font-size: 22px;
    }
    @media(min-width:$screen-md) {
      padding:0 40px;
    }
  }
  a {
    text-decoration:none;
    color:inherit;
  }
}

