.categories {
  padding:60px 0 60px;
  h2 {
    position:relative;
    margin:0 auto;
    &::before, &::after {
      content:'';
      position:absolute;
      top:50%;
      width:100px;
      height:1px;
      background:$brand-dark-grey;
    }
    &::before {
      left:-120px;
    }
    &::after {
      right:-120px;
    }
  }// heading 2
  .featured-cat-container {
    margin-top:60px;
    .featured-cat {
      text-align:center;
      margin-bottom:40px;
      @media (min-width:$screen-lg) {
        margin-bottom:0;
      }
      &__image {
        background-size: cover;
        margin-bottom:40px;
        &::after {
          content: '';
          display: block;
          padding-top: 100%;
        }
      }
      &__title {
        a{
          font-family:$serif;
          font-weight: 400;
          text-transform:uppercase;
          font-size:20px;
          color:$body-color;
          text-decoration: none;
        }
      }
    }// featured-cat

    a{
      font-family: $sans-serif;
      font-weight: 400;
      font-size: 14px;
    }// Link
  }// featured-cat-container
}// Categories


.see-more-archive{
  width: 100%;
  text-align: center;

}// see-more-archive