.image-changer {
  &-view {
    position:relative;
    height:300px;
    margin-bottom:30px;
    @media(min-width:$screen-md) {
      height:420px;
    }
    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-size: cover;
      background-position: center center;
      &#1 {
        z-index:1;
      }
      &.active {
        z-index: 2;
      }
    }
  }
  &-nav {
    display:flex;
    justify-content:center;
    flex-grow:1;
    margin-bottom:30px;
    &__item {
      background-size:cover;
      flex-basis:44%;
      max-width:100%;
      margin:0 15px;
      cursor:pointer;
      @media(min-width:$screen-md) {
        flex-basis:22%;
      }
      &::after {
        content:'';
        display:block;
        padding-top:100%;
      }
      &.active {
        opacity:.6;
      }
    }
  }
}