.ingredients-section, .method-section {
  text-align:center;
  padding:20px 0;
  h2 {
    margin-bottom:30px;
  }
  ul.ingredients {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style:none;
    li.ingredient {
      flex-basis: 100%;
      max-width: 100%;
      font-family: $sans-serif;
      font-size:14px;
      font-weight: 100;
      line-height:22px;
      margin-bottom:5px;
      color:$brand-dark;
      @media (min-width:$screen-md) {
        flex-basis:48%;
      }
    }
  }
  ol.steps {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    li.step {
      flex-basis: 100%;
      max-width: 100%;
      font-family: $sans-serif;
      font-size:14px;
      font-weight: 100;
      line-height:22px;
      margin-bottom:5px;
      color:$brand-dark;
    }
  }
}