.instagram-subtitle{
  width: 100%;
  display: block;
  margin-top: 10px;
}// Instagram Subtitle


#feed{
  .feed__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    align-items: stretch;
    //column-count: 4;
    width: 100%;

    .feed__row__block{
      height: 220px;
      min-width: 150px;
      width: 100%;

      &:first-child{
        width: 100%;
        height: 460px;
        grid-column: 1/3;
        -ms-grid-row: 1/3;
        grid-row: 1/3;
      }// First Child
    }// Feed Row Block
  }// Feed Row
}// Feed

.instagram-feed{


  a.load-more{
    text-align: center;
    display: block;
    margin: 50px 0;
  }// Load More
}// Instagram Feed