.navigation {
	width:100%;
	padding:15px 0;
	border-top:1px solid $brand-light-grey;
	border-bottom:1px solid $brand-light-grey;
	position:relative;
	ul.nav {
		justify-content:space-around;
		display:none;
		@media(min-width:$screen-md){
			display:flex;
		}
		li {
			a {
				font-size:16px;
				color:$body-color;
				text-transform:uppercase;
				font-family:$serif;
				position:relative;
				text-decoration:none;
				&::after {
					content:'';
					display:block;
					position:absolute;
					bottom:0;
					left:50%;
					width:0%;
					height:1px;
					background:$brand-dark;
					transition:all 1s;
				}
				&:hover {
					&::after {
						left:0;
						width:100%;
					}
				}
			}
			&.current-menu-item {
				a {
					color:$brand-highlight;
				}
			}
			&.search-button {
				position:relative;
				width:18px;
				&::after {
					content: '';
					display: block;
					position:absolute;
					background-image:url('../images/search-icon.svg');
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: center center;
					width: 100%;
					height: 100%;
					cursor:pointer;
				}
			}
		}
	}
}