.newsletter-signup {
  background-size:cover;
  padding:100px 0;
  position:relative;
  @media (min-width:$screen-md ){
    padding:100px 0;
    margin-top: 50px;

  }
  &__content {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
    background:$white;
    padding:30px 20px;
    width:100%;
    @media (min-width:$screen-lg) {
      flex-direction:row;
    }
    p {
      margin-bottom:20px;
      font-size:14px;
      font-family:$serif;
      font-weight:400;
      display: flex;

      @media(min-width:$screen-lg) {
        margin-bottom:0;

      }
    }
    form {
      display: block;
      @media(min-width:$screen-md) {
        display: flex;

      }
      @media (min-width:$screen-lg) {
        display: flex;

      }
      input {
        padding:10px;
        background:lighten($brand-light-grey, 5%);
        appearance:none;
        border:none;
        border-radius:5px;
        outline:none;
        margin-bottom:20px;
        @media (min-width:$screen-md) {
          margin-bottom:0;
          margin-left:10px;
        }
        &::-webkit-input-placeholder {
          color:darken($brand-light-grey,10%);
        }
        &::-moz-placeholder {
          color:darken($brand-light-grey,10%);
        }
        &:-ms-input-placeholder {
          color:darken($brand-light-grey,10%);
        }
      }
      input[type="submit"] {

        appearance:none;
        background:none;
        border:0;
        color:$brand-highlight;
        font-family:$serif;
        text-transform:uppercase;
        text-decoration:underline;
        cursor:pointer;
      }
    }
  }
  .small-text {
    position:absolute;
    left:40px;
    bottom:25px;
    font-size:14px;
    line-height:14px;
    font-weight:400;
    color:$white;
    margin-bottom:0;
    a {
      color:$white;
      text-transform: lowercase;
      text-decoration:none;
    }
  }
}
