.single-post {
  .pagination {
    padding:60px 0;
    display:flex;
    justify-content: space-between;
    a {
      color:$body-color;
      text-decoration:none;
      text-transform: capitalize;
      font-family: $serif;
    }
  }
}