.related-posts {
  text-align:center;
  
  h2 {
    margin-bottom:60px;
  }// Heading 2

  .row{
    .col-md-4:last-child{
      display: none;
      @media(min-width: $screen-sm) {
        display: block;
      }// @media(min-width: $screen-sm)
    }// col-md-4:last-child

  }// row


}// Related posts

