.resp-nav {
  display:block;
  @media (min-width:$screen-md) {
    display:none;
  }
  button {
    appearance:none;
    background:none;
    border:none;
    font-family:$serif;
    display:flex;
    align-items:center;
    margin:0 auto;
    cursor:pointer;
    .line {
      width:10px;
      height:2px;
      background:$brand-dark;
      display:inline-block;
      margin-right:10px;
      position:relative;
      opacity:1;
      transition:all .8s;
      &::before, &::after {
        content:'';
        display:block;
        position:absolute;
        width:10px;
        height:2px;
        background:$brand-dark;
      }
      &::before {
        top: 4px;
        transition:transform .8s, top .8s .8s;
      }
      &::after {
        bottom:4px;
        transition:transform .8s, bottom .8s .8s;
      }
    }
    &.active {
      .line {
        background:transparent;
        &::before {
          top:0;
          transform:rotate(-45deg);
          transition:top .8s, transform .8s .8s;
        }
        &::after {
          bottom:0;
          transform:rotate(45deg);
          transition:bottom .8s, transform .8s .8s;
        }
      }
    }
    &:focus, &:active {
      outline:none;
    }
  }
  &__menu {
    ul.mobile-nav {
      padding:0;
      list-style:none;
      text-align:center;
      max-height:0;
      overflow:hidden;
      margin:0;
      transition:all .8s;
      &.active {
        max-height:500px;
        margin:20px 0;
      }
      li {
        a {
          color:$brand-dark;
          text-decoration:none;
          font-family:$serif;
          font-size:22px;
        }
      }
    }
  }
}