.search-results {
  &__result {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    border-bottom:1px solid $brand-light-grey;
    padding-bottom:40px;
    margin-bottom:40px;
    &:last-child {
      border-bottom:0;
    }
    .result-image {
      flex-basis:100%;
      max-width:100%;
      margin-bottom:20px;
      @media (min-width: $screen-md) {
        flex-basis:30%;
        margin-bottom:0;
      }
      &__image {
        background-size: cover;
        overflow:hidden;
        max-height:200px;
        &::after {
          content:'';
          display:block;
          padding-top:100%;
        }
      }
    }
    .result-content{
      flex-basis:100%;
      max-width:100%;
      @media(min-width:$screen-md) {
        flex-basis:68%;
      }
      h2 {
        a {
          text-decoration:none;
        }
      }
      p{
        margin-bottom:0;
      }
    }
  }
}