.search-bar {
  position: absolute;
  left: -1000%;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display:flex;
  align-items:center;
  overflow:hidden;
  opacity:0;
  transition: opacity .8s, left 0s .8s;
  &.active {
    opacity:1;
    left:0;
    transition: left 0s, opacity .8s 0s;
  }
  form.search-form {
    width:95%;
    flex-wrap:nowrap;
    label {
      width:95%;
      input {
        width:100%;
        border:0;
        outline:none;
        &::placeholder {
          text-transform:uppercase;
          font-family:$serif;
        }
        &:active, &:focus {
          outline:none;
          border:0;
          box-shadow:none;
        }
      }
    }
    input[type="submit"] {
      background:none;
      border:none;
      background-image:url('../images/search-icon.svg');
      background-repeat:no-repeat;
      background-position: center center;
      background-size:18px;
      width:5%;
    }
  }
  .search-button {
    background:none;
    border:none;
    width:18px;
    height:18px;
    position:relative;
    cursor: pointer;
    &:focus, &:active {
      outline:none;
    }
    &::before, &::after {
      content:'';
      display:block;
      width:100%;
      height:2px;
      background:$brand-dark;
      border-radius:3px;
      position:absolute;
      top:50%;
      left:0;
    }
    &::before {
      transform:rotate(-45deg);
    }
    &::after {
      transform:rotate(45deg);
    }
  }
}