.owl-item {
	position:relative;
	height:500px;
	margin-top:25px;
	&__slide {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-size:cover;
		.content {
			position: absolute;
		    top: 50%;
		    left: 50%;
		    max-width:95%;
		    min-width:85%;
		    background: #fff;
		    padding:50px;
		    transform: translateX(-50%) translateY(-50%);
		    text-align: center;
		    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
			@media(min-width:$screen-md){
				max-width:75%;
				min-width:50%;
			}
		    a.slider-link {
		    	font-size:12px;
		    	display:inline-block;
		    	margin-bottom:5px;
		    	text-decoration:none;
		    }
		}
	}
}
.owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
    .owl-prev::before, .owl-next::after {
      content: '';
      display: none;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      position:absolute;
      top:0;
      @media(min-width:$screen-md){
        display:block;
      }
    }
	.owl-prev {
		&::before {
			left:-50px;
			border-bottom: 2px solid $brand-light-grey;
			border-left: 2px solid $brand-light-grey;
		}
	}
	.owl-next {
		&::after {
			right:-50px;
			border-top: 2px solid $brand-light-grey;
			border-right: 2px solid $brand-light-grey;
		}
	}
}
.slider-nav {
	display:none;
	justify-content:space-between;
	padding:30px 0;
	@media (min-width:$screen-md) {
		display:flex;
	}
	&__item {
		flex-basis:25%;
		font-family:$serif;
		cursor:pointer;
		text-transform:uppercase;
		&:hover, &.active {
			color:$brand-highlight;
		}
	}
}